@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'pixelFont';
    src: url('pixelFont.ttf') format('woff2'),
         url('pixelFont.ttf') format('woff');
  }

*{
    font-family: Nunito Sans;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.clickhere{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.startButton{
    font-family: 'pixelFont'; /* This is the name you'll use in your other CSS rules */
    border: none;
    font-size: 15px;
    border: none;
    color: white;
    background-color: transparent;

}

.centerGIF{
    height: 100px;
}

@keyframes backflash{
    0%{
        background-color: black;
      }
    10%{
        background-color: white;
    }
    100% {
        background-color: black;
    }
}


.titulo{
    color: white;
    font-size: 100px;
    margin-top: 1px;
    margin-bottom: 1px;

    animation: backflash-text 0.5s forwards, slideInLeft 0.5s ease-in-out 0.3s 1 normal both
}

.descripcion{
    color:white;
    font-size: 20px;

    animation: backflash-text 0.5s forwards, slideInLeft 0.5s ease-in-out 0.8s 1 normal both;
}

.loadpage {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


@keyframes backflash-text{
    0%{
        color: white;
      }
    10%{
        color: black;
    }
    100% {
        color: white;
    }
}

.backimgContainer{
    display: flex;
    height: 93vh;
    width: 100%;
    justify-content: space-around;
}

.titulo-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-120px);

        opacity: 0;
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);

        opacity: 1;
        filter: blur(0);
    }
}

.pfpContainer{
    display: flex;
    align-items: center;
}

#pfp{
    height: 200px;
    -webkit-user-drag: none;
}

.videoContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    z-index: -1;
    opacity: 0;
    background-image: url(./catJAMgif.gif);

    animation: transparent 2.5s forwards;
}

.videoContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.4);
}

.bar{
    background-color: white;
    height: 7vh;
    border-radius: 5px;

    position: relative;

    
}

@keyframes transparent {
    0%, 90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

.mediaButton{
    font-size: 20px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 3px;
}

.buttonCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    
    background-color: rgba(0,0,0,1);
}

@keyframes slideOut {
    from{
        left:0;
        
    }
    to {
        left: 100%;
    }
}

.buttonBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;;
}