@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'pixelFont';
    src: url('pixelFont.ttf') format('woff2'),
         url('pixelFont.ttf') format('woff');
  }

*{
    font-family: Nunito Sans;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.clickhere{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.startButton{
    font-family: 'pixelFont'; /* This is the name you'll use in your other CSS rules */
    border: none;
    font-size: 15px;
    border: none;
    color: white;
    background-color: transparent;

}

.aaaa{
    color: white;
}



.centerGIF{
    height: 100px;
}

@keyframes backflash{
    0%{
        background-color: black;
      }
    10%{
        background-color: white;
    }
    100% {
        background-color: black;
    }
}


.titulo{
    color: white;
    font-size: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.descripcion{
    color:white;
    font-size: 20px;
}

.loadpage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


@keyframes backflash-text{
    0%{
        color: white;
      }
    10%{
        color: black;
    }
    100% {
        color: white;
    }
}

.backimgContainer{
    display: flex;
    height: 93vh;
    width: 100%;
}

.titulo-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-120px);

        opacity: 0;
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);

        opacity: 1;
        filter: blur(0);
    }
}

.pfpContainer{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
#pfp{
    height: 200px;
}
/* 
#video-background {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
} */

.videoContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.videoContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;

    animation: darktoclear 4s forwards;
}

.bar{
    background-color: black;
    height: 7vh;
    border-radius: 5px;
}

@keyframes darktoclear {
    0%, 90%{
        background-color: rgba(0, 0, 0, 1);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/* @keyframes transparent {
    0%, 90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */